<div class="quantity-selector">
  <div v-if="kitProductId">
    <div class="kit__title">
      <label for="">Itens do Kit</label>
    </div>
    <div class="kit__items">
      <div
        class="quantity-selector__item"
        v-for="(item, index) in localItems.filter(el => el.variations === undefined)"
      >
        <div class="kit__item"
          :disabled="!checkInStock(item)"
        >
          <div class="d-flex align-items-start">
            <div class="kit__toggle">
              <img :src="(item.pictures[0].normal && item.pictures[0].normal.url) || (item.pictures[0].zoom && item.pictures[0].zoom.url)" alt="">
            </div>
            <div class="kit__data">
              <div class="kit__data-name">
                {{item.quantity}}x {{ item.name }}
              </div>
              <div class="kit__data-price">
                {{ formatPrice(item.price)}}
              </div>
            </div>
            <slot name="variations">
              <product-variations
                :key="item.key"
                :product="item"
                :selected-id.sync="selectedVariationId"
                :max-options-btns="0"
                :class="variationKit[activeIndex] || variationKitReady.length < max
                  ? 'kit-product-variations--show'
                  : 'kit-product-variations--hide'"
              />
              <a-alert
                v-if="variationKitReady.length === max && !variationKit[activeIndex]"
                :can-show="variationKitReady.length === max"
                :variant="alertVariant"
              >
                {{ i19maxQuantity }}:
                <strong>{{ max }}</strong>
              </a-alert>
              
              <slot name="variations-info"/>
            </slot>
          </div>
        </div> 
      </div>
      <div
      class="quantity-selector__item with_variations"
      v-for="(item, index) in localItems.filter(el => el.variations !== undefined)"
    >
      <div class="kit__item"
        :disabled="!checkInStock(item)"
      >
        <div class="d-flex align-items-center">
          <div class="kit__toggle">
            <img :src="(item.pictures[0].normal && item.pictures[0].normal.url) || (item.pictures[0].zoom && item.pictures[0].zoom.url)" alt="">
          </div>
          <div class="kit__data">
            <div class="kit__data-name">
              {{item.quantity}}x {{ item.name }}
            </div>
            <div class="kit__data-price">
              {{ formatPrice(item.price)}}
            </div>
          </div>
          <slot name="variations">
            <product-variations
              :key="item.key"
              :product="item"
              :selected-id.sync="selectedVariationId"
              :max-options-btns="0"
              :class="variationKit[activeIndex] || variationKitReady.length < max
                ? 'kit-product-variations--show'
                : 'kit-product-variations--hide'"
            />
            <a-alert
              v-if="variationKitReady.length === max && !variationKit[activeIndex]"
              :can-show="variationKitReady.length === max"
              :variant="alertVariant"
            >
              {{ i19maxQuantity }}:
              <strong>{{ max }}</strong>
            </a-alert>
            
            <slot name="variations-info"/>
          </slot>
        </div>
      </div> 
    </div>
    </div>        
  </div>
  <!--
  <div class="kit-product-variations__buy">
    <slot
      name="buy"
      v-bind="{ variationKit }"
    >
      <button
        type="button"
        class="btn btn-lg btn-primary my-3"
        @click="buy"
        :disabled="variationKitReady.length !== min"
      >
        <slot name="buy-button-content">
          <i class="i-shopping-bag mr-1"></i>
        </slot>
      </button>
    </slot>
  </div>
  -->
</div>