
@font-face {
  font-family: "CircularSTD";
  src:
    url("../../public/assets/fonts/CIRCULARSTD-BOOK.TTF") format("truetype")
}
@font-face {
  font-family: "Coniferous";
  src:
    url("../../public/assets/fonts/CONIFEROUS-BOLD.TTF") format("truetype")
}
body{
  --blk:#131313;
  --txt:#4f4f4f;
  --gray: #666;
  --wht:#fff;
  --color1:#9089FF;
  --color2:#FF970A;
  --color3:#3A1F42;
  --color-border:#F2F2F2;
  --color-bg: #ffffff;
  --body-bg: #ffffff;


  --content-max-width:81.25rem;

  --btnrad: .25rem;

  --primary-lightest:#fff;
  --gray-dark:#F2F2F2!important;
  
}

.btn-light.focus, .btn-light:focus, .btn-light:hover {
  background-color: var(--gray-dark);    
}
@media(min-width:990px){
  :root{
      --h1:2.488rem;
      --h2:2.074rem;
      --h3:1.728rem;
      --h4:1.44rem;
      --h5:1.2rem;
      --h6:1.2rem;
      --font-size:1rem;
      --font-size-sm: 0.833rem;
      --smallest: 0.694rem;
  }
}

body{
  background:var(--color-bg);
  font-size:var(--font-size);
  font-family: "CircularSTD", sans-serif;
}

.products-carousel{padding: 0 15px 0 15px!important;}
.products-carousel,
.container,
.container_90{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container .container{max-width: 100%;}

h1{font-size: var(--h1);}
h2{font-size: var(--h2);}
h3{font-size: var(--h3);}
h4{font-size: var(--h4);}
h5{font-size: var(--h5);}
h6{font-size: var(--h6);}

.font-weight-bold{font-weight: bold;}
.font-weight-800{font-weight: 800;}
.font-weight-700{font-weight: 700;}
.font-weight-600{font-weight: 600;}
.font-weight-500{font-weight: 500;}
.font-weight-normal{font-weight: normal;}
.font-weight-300{font-weight: 300;}

.align-items-center{align-items: center;}
.align-items-end{align-items: flex-end;}
.justify-content-center{justify-content: center;}
.justify-content-end{justify-content: flex-end;}
.justify-content-between{justify-content: space-between;}

/* Direção de flexbox como linha em todos os dispositivos */
.flex-row {
  flex-direction: row !important;
}

/* Direção de flexbox como coluna em todos os dispositivos */
.flex-column {
  flex-direction: column !important;
}

/* Direção de flexbox como linha em dispositivos de tamanho médio e maiores */
@media (min-width: 768px) {
  .flex-md-row {
      flex-direction: row !important;
  }
}

/* Direção de flexbox como coluna em dispositivos menores que o tamanho médio */
@media (max-width: 767.98px) {
  .flex-md-column {
      flex-direction: column !important;
  }
}


header#header{
  background: var(--color-bg);
  border: 0;
  .header__nav{
    text-align: left;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    .header__category{
      font-size: var(--font-size);
      text-transform: initial;
      padding: 0;
    }
  }
  .header__nav > div:first-child{
    .header__category:first-child{font-weight: 600;position: relative;}
    .header__category:first-child:before{
      content: "";
      position: absolute;
      width: 100%;
      height: 5px;
      background: var(--color2);
      bottom: 5px;
      left: 0;
      z-index: -1;
    }
  }
  .header__buttons{
    display: flex;
    align-items: center;

    .badge{
      background: var(--color2);
      width: 18px;
      height: 18px;
      display: flex;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      top: 7px;
      right: 4px;
    }
  }
  .header__buttons > *{margin: 0;border: 0;}
  .header__buttons > *:not(:last-child){
    padding-right:calc(var(--spacer-2) * 2.5) ;
    margin-right:calc(var(--spacer-2) * 1.7) ;
    
    position: relative;
  }
  .header__buttons > *:not(:last-child):after{
    content: "";
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    right: 0;
    height: 100%;
    width: 1px;
    height: 30px;
    background-color: var(--color-border);

  }
  #user-button{
    gap: .5rem;
    div{
      font-size: var(--smallest);
      font-weight: bold;
      text-align: left;
      line-height: initial;
      small{
        display: block;
        font-weight: normal;
        color: var(--gray);
        font-size: var(--smallest);
        line-height: initial;
        margin-top: 0.1rem;
      }
    }
  }
}

.apx-title-section.flex-md-row{gap: 4rem;}
.apx-title-section{
  h2, .h2{
    font-size: var(--h1);
    color:var(--title_color);
    font-weight: 600;
    b{
      font-family:'Coniferous';
      font-size: calc(var(--h1) * 1.2);
      position: relative;
      display: inline-block;
    }
    b:before{
      content: "";
      height: calc(var(--h1) * 0.3);
      line-height: var(--h1);
      background: var(--secondary_color);
      width: 100%;
      position: absolute;
      bottom:10%;
      left:0;
      z-index: -1;
    }
  }
  p{
    color:var(--description_color);
    font-size: var(--font-size);
    line-height: calc(var(--font-size) * 1.8);
  }
  
}
.chamada-foison .flex-md-row{align-items: center;}
.apx-cta-section{
  a{
    font-size: var(--font-size);
    line-height: var(--font-size);
    font-weight: bold;
    text-transform: uppercase;
    padding: .75rem 2.5rem;
    border: 2px solid;
    color: var(--blk);
    display: inline-block;
    border-radius: 50px;
    box-shadow: 5px 5px 0px var(--secondary_color);
    transition: all .2s ease-in-out;
    text-decoration: none;
  }
  a:hover{
    box-shadow: 7px 7px 5px var(--secondary_color);
    scale: 1.05;
  }
}

.apx.products-carousel{
  width: 100%;
  max-width: 100%;
  padding: 0 4rem!important;
  .glide__arrows.glide__arrows--outer{
    
    .glide__arrow--left{
      left: calc(-2rem - 10px);
    }
    .glide__arrow--right{
      right: calc(-2rem - 10px);
    }
    button{
      margin-top: -40px;
      padding: 0;
      line-height: 0;
      svg{}
    }
  }
}

.product-item{
  .product-card:hover{
    
    box-shadow: 0px 0px 0px;
    .bg{
      background-color: var(--color-border);
      box-shadow: 0px 0px 0px;
    }
  }
  .product-card{
    padding: 0;
    border: 0;
    position: relative;
    box-shadow: 0px 0px 0px;
    *:hover{text-decoration: none;}
    .product-card__offer-stamp{
      top: 5px;
      right: 4px;
      border-radius: 7.5px;
      font-size: 12px;
      width: fit-content;
      min-width: unset;
      padding: 0 .5rem;
  
    }
    .bg{
      border: 1px solid var(--color-border);
      border-radius:10px;
      padding: 20px;
      position: relative;
      box-shadow: 0px 0px 0px;
    }
    .product-card__buy{
      margin: 1.5rem;
      button{
        font-size: var(--font-size);
        line-height: var(--font-size);
        font-weight: bold;
        text-transform: uppercase;
        padding: .75rem 2.5rem;
        border: 2px solid;
        color: var(--blk);
        display: inline-block;
        border-radius: 50px;
        box-shadow: 5px 5px 0px var(--color1);
        transition: all .2s ease-in-out;
        text-decoration: none;
        background: #fff;
      }
      button:hover{
        box-shadow: 7px 7px 5px var(--color1);
        scale: 1.05;
      }
    }

    .product-card__pictures{
      border-radius:10px;
      max-height:unset;
      height: auto;
      margin-bottom: 20px;
      picture,img{max-height:unset;width: 100%;height: 100%;object-fit: cover;}
    }
    .product-card__content-group{
      .product-card__name{
        font-size: var(--font-size-sm);
      }
      .prices__value{
        font-size: var(--h6);
      }
      .prices__compare{
        s{font-size: var(--font-size-sm);font-weight: 600;}
      }
      .product-card__prices{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
        *:empty{display: none;}
        span:last-child{width: 100%;}
      }
    }
  }
}

.blog{
  .card:hover{
    background-color: var(--color-border);
    box-shadow: 0 0 0;
  }
  .card{
    border: 1px solid var(--color-border);
    border-radius: 10px;
    box-shadow: 0 0 0;
    padding: 20px;
    position: relative;
    .card-body{
      display: flex;
      flex-direction: column;
      padding: 0;
      gap: 1rem;
      *{margin: 0;}
      *:hover{text-decoration: none;}
      .blog-post-date{
        color: var(--txt);
        font-size: var(--smallest);
      }
      .card-title{
        font-size: var(--font-size-sm);
      }
      .blog-post-link{
        font-size: var(--font-size-sm);
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 1rem;
      }
    }
  }
}

.newsletter{
  .bg{
    background: #D7CBE8;
    border-radius: 2rem;
    --secondary_color:var(--color1);
    position: relative;
    .apx-title-section{
      small{display: block;}
      b{z-index: 2;}

      .h2{
        font-size: var(--h4);
        font-weight: normal;
        b{
          font-size: calc(var(--h4)*1.2);
        }
      }
    }

    form{
      display: flex;
      flex-direction: column;
      gap: .75rem;
      input{
        height: 48px;
        border: 0;
        background: #fff;
        border-radius: 2rem;
        padding: 0 1rem;
        width: 100%;

      }
      button{
        --secondary_color:var(--color2);
        border: 2px solid;
        border-radius: 50px;
        box-shadow: 5px 5px 0 var(--secondary_color);
        color: var(--blk);
        display: inline-block;
        font-size: var(--font-size);
        font-weight: 700;
        line-height: var(--font-size);
        padding: .75rem 2.5rem;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .2s ease-in-out;
        width: 100%;
      }
    }
    .ico{
      position: absolute;
      bottom: calc(100% + 75px);
      right: -70px;
    }
  }
}
footer.footer{
  background: #fff;
  border: 0;
  .footer__contacts{
    max-width: 100%;
    ul{
        display: flex;
        gap: 1rem;
        flex-direction: column;
        li{
            display: flex;
            gap: .5rem;
            align-items: center;
            span{}
            a,
            address,
            p{
                display: flex;
                flex-direction: column;
                color: var(--blk);
                font-size: var(--font-size);
                font-weight: 600;
                line-height: initial;
                small{
                    font-size: var(--smallest);
                    color: #666;
                    margin-bottom: 2.5px;
                }
            }
            address{font-size: var(--small);}
        }
    }
  }
  a:hover{text-decoration: none;}
  .footer__title{
      color: var(--blk);
      font-size: var(--h3);
      font-family: "Coniferous";
      text-transform: initial;
      font-weight: 700;
      margin-bottom: 1.25rem;
  }
  .footer__links{
      .i-chevron-right{display: none;}
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
      a{
          color: var(--txt);
          font-size: var(--font-size);
      }
  }
  .footer__payment-methods{margin-bottom: 2rem;}
  .footer__stamps{
      ul{
          display: flex;
          gap: 1rem;
          flex-wrap: wrap;
          li{padding: 0;margin: 0;}
      }
      
  }
  .credits{
      *{
          color: #4f4f4f;
          font-size: var(--smallest);
      }
      .ecom-credits{
          background: transparent;
          padding: 0;
      }
      img{height: 16px;}
  }
  .footer__credits{padding: 1.5rem 0;border-color:var(--color-border)}
  
  .footer__credits a{display: flex;align-items: center;gap: .5rem;}
}
.w-100{width: 100%;}
main ~ iframe{display: none;}


.banner-turma{
  .bg{background-size: cover;}
  img{margin-top: -5rem;max-width: 100%;}
  .apx-cta-section a{
    background: #fff;
  }
  .apx-cta-section,
  .apx-title-section{text-align: center;}
  .apx-cta-section{margin-top:1rem}
  .apx-title-section h2{
    font-family:'Coniferous';
    text-shadow: 3px 3px 0px var(--color3);
    font-size: calc(var(--h1) * 1.5);
  }
  .content{
    
    margin-bottom: -4rem;
  }
}

.banner-garantia{
  position: relative;
  .section-box{
    position: relative;
  }
  .section-box:before{
    content: "";
  position: absolute;
  background-color: var(--background_color);
  width: 200vw;
  height: 100%;
  left: -50vw;
  z-index: -1;
  }
  .row{
    .col-12{
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%;
      margin: 0;
    }
  }
  .p-5{padding: 0;}
  .apx-title-section{
    margin-top: -3rem;
    
    
    .fa-star{
      color: var(--color2);

    }
    p{
      line-height: calc(var(--font-size) * 2.25);
      margin-top: 3rem;
      
    }
  }
  .apx-title-section > *{
    flex: 0 0 50%;
  }
  .apx-title-section h2{
    justify-content:space-between;
    line-height: calc(var(--h1) * 1.2);
    div{
      display: flex;
      gap: .5rem;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
    }
    b{display: block;
      text-shadow: 3px 3px 0px var(--color3);
      font-size: calc(var(--h1) * 1.8);
    }
  }
  .image{
    text-align: right;
    img{
      margin: -5rem 0 2rem 0;
    }
  }
}

.apx.list-slider{
  .list-carousel__item{
    .item{
      .image{
        img{}
      }
      h4{
        font-size: var(--h2);
        text-align: center;
      }
      p{}
      ul{
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .75rem;

        li{
          display: flex;
          gap: .5rem;
          align-items: center;
          *{margin: 0;}
        }
      }
    }
  }
}
.text-center{text-align: center;}
i[class*=" fa-"]{
  font-family: FontAwesome;
}